body {
  font-family: 'Lato';
  margin: 20px;
  font-weight: 400;
}

label {
  color: #555;
  font-weight: bold;
  margin-right: 10px;
}

input {
  border: 2px solid #2196F3;
  width: 300px;
  outline: none;
  padding: 4px;
  border-radius: 5px;
}

.error {
  color: red;
  font-weight: bold;
}
input.ng-invalid {
    
}

input:invalid {
    border: 1px solid red;
}

